[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
protobuf = "*"
requests = "*"
onnx = "*"
onnxconverter-common = ">=1.5.3"
fire = "*"
tensorflow = "==1.13.1"
keras = "*"
pillow = "*"
keras2onnx = "*"
matplotlib = "*"
onnxruntime = "*"

[requires]
python_version = "3.6"
